binds {
    Mod+backslash       hotkey-overlay-title="Show Keybindings"         { show-hotkey-overlay; }
    Mod+Tab             hotkey-overlay-title="Toggle Overview"          { toggle-overview; }
    Mod+T               hotkey-overlay-title="Terminal"                 { spawn "ghostty"; }
    Mod+Shift+T         hotkey-overlay-title="Floating Terminal"        { spawn "ghostty" "--class=ghostty.float"; }
    Mod+Space           hotkey-overlay-title="Spawn Launcher"           { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+C               hotkey-overlay-title="VSCode"                   { spawn "codium"; }
    Mod+B               hotkey-overlay-title="Browser"                  { spawn "vivaldi"; }
    Mod+Shift+B         hotkey-overlay-title="Browser (Paranoid)"       { spawn "mullvad-browser"; }
    Mod+Shift+Ctrl+B    hotkey-overlay-title="Browser (Very Paranoid)"  { spawn "mullvad-browser" "--private-window"; }
    Mod+E               hotkey-overlay-title="File Manager"             { spawn "dolphin"; }
    Mod+W               hotkey-overlay-title="Wallpaper Picker"         { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+S               hotkey-overlay-title="Shell Settings"           { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Escape          hotkey-overlay-title="Power Menu"               { spawn-sh "noctalia msg panel-toggle session"; }
    Ctrl+Shift+S        hotkey-overlay-title="Screenshot"               { spawn-sh "noctalia msg screenshot-region"; }
    Ctrl+Mod+V          hotkey-overlay-title="Clipboard"                { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Shift+Mod+C         hotkey-overlay-title="VSCodium Launcher"        { spawn "ghostty" "--class=ghostty.float" "--window-width=80" "--window-height=42" "-e" "code-launcher"; }
    Shift+Mod+E         hotkey-overlay-title="File Manager Launcher"    { spawn "ghostty" "--class=ghostty.float" "--window-width=80" "--window-height=42" "-e" "file-launcher"; }
    Mod+Q               hotkey-overlay-title="Close Window"             { close-window; }
    Mod+Shift+Q         hotkey-overlay-title="Kill NiriWM"              { quit; }
    Mod+R               hotkey-overlay-title="Reload Shell"             { spawn-sh "pkill -x noctalia; noctalia -d & disown"; }
    Mod+L               hotkey-overlay-title="Lock Screen"              { spawn-sh "noctalia msg session lock"; }
    Mod+period          hotkey-overlay-title="Color Picker"             { spawn-sh "color-picker"; }

    Mod+Left    { focus-column-left; }
    Mod+Right   { focus-column-right; }
    Mod+Up      { focus-workspace-up; }
    Mod+Down    { focus-workspace-down; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-column-to-workspace-up; }
    Mod+Shift+Down  { move-column-to-workspace-down; }

    Alt+Shift+BracketLeft { focus-workspace-up; }
    Alt+Shift+BracketRight { focus-workspace-down; }
    Alt+BracketRight { focus-column-right; }
    Alt+BracketLeft { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+V { toggle-window-floating; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Alt+Equal { set-column-width "+10%"; }
    Alt+Minus { set-column-width "-10%"; }

    Alt+Shift+Semicolon { consume-or-expel-window-left; }
    Alt+Shift+Apostrophe { consume-or-expel-window-right; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp   { spawn "brightnessctl" "s" "5%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "5%-"; }

    XF86AudioPlay  allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext  allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev  allow-when-locked=true { spawn "playerctl" "previous"; }

    Print { screenshot-screen; }
    Ctrl+Mod+Shift+S { screenshot-screen; }
    XF86AudioMedia { spawn-sh "noctalia msg settings-toggle"; }
    Mod+P repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
}
